@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins'),
  url('fonts/Poppins-Medium.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 500;
  src: local('Eczar'),
  url('fonts/Eczar-SemiBold.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'RobotoMono';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoMono'),
  url('fonts/RobotoMono.ttf') format('truetype') /* Safari, Android, iOS */
}
.page-header {
  display: block;
  margin-top: 23px;
  margin-right: 23px;
}
.logo {
  display: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-item {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-right: 17.5px;
  text-transform: uppercase;
}
.nav-hamburger-menu {
  background: none;
  border: none;
  padding: 0;
}
.main-container {
  margin-left: 30px;
  margin-right: 30px;
}
.about-header {
  color: #ffffff;
  font-family: Eczar, serif;
  font-size: 99px;
  font-weight: 600;
  height: 176px;
  letter-spacing: normal;
  line-height: 1.78;
  margin: 0;
  -webkit-text-stroke: 1px #1e252c;
}
.about {
  position: relative;
  top: -18px;
}
.about-img-container {
  height: 287px;
  position: relative;
}
.about-img {
  height: 270px;
  position: relative;
  top: -19px;
  width: 322px;
}
.about-img-bg {
  background-color: #ebe9ea;
  height: 270px;
  left: 32px;
  position: absolute;
  top: 17px;
  width: 322px;
  z-index: -1;
}
.about-title {
  margin-top: 44px;
}
.about-title,
.our-vision-title {
  color: #1e252c;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.46px;
  line-height: 1.46;
}
.about-text,
.our-vision-text {
  color: #4a4a4a;
  font-family: RobotoMono, sans-serif;
  font-size: 18px;
  margin-top: 24px;
}
.our-vision {
  margin-top: 49px;
  position: relative;
  top: -19px;
}
.our-vision-header {
  color: #fff;
  font-family: Eczar, serif;
  font-size: 73px;
  line-height: 1.77;
  -webkit-text-stroke: 0.8px #1e252c;
}
.our-vision-title {
  position: relative;
  top: -15px;
}
.our-vision-text {
  font-family: RobotoMono, sans-serif;
  letter-spacing: normal;
  line-height: 1.56;
  position: relative;
  top: -15px;
}
.our-values {
  height: 50px;
  margin-top: 58.5px;
  position: relative;
  top: -19px;
}
.our-values-img-container {
  position: relative;
}
.our-values-img {
  height: 174px;
  left: 27px;
  position: absolute;
  top: 25px;
  width: 327px;
}
.our-values-img-bg {
  background-color: #ebe9ea;
  height: 168px;
  position: relative;
  width: 303px;
  z-index: -1;
}
.our-values-header {
  color: #ffffff;
  font-family: Eczar, serif;
  font-size: 68px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  height: 121px;
  letter-spacing: normal;
  line-height: 1.78;
  margin-top: 73.5px;
  width: 354px;
  -webkit-text-stroke: 0.8px #1e252c;
}
.our-values-title {
  color: #1e252c;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.73;
  margin-top: 2px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
.our-values-text {
  color: #4a4a4a;
  font-family: RobotoMono, sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.75;
  margin-top: 40px;
}
.our-values-text:last-of-type {
  margin-bottom: 106px;
  margin-top: 27px;
}
@media only screen and (min-width: 768px) {
  .page-header {
    display: flex;
    justify-content: space-between;
    margin: 27px 120px 0;
  }
  .logo {
    display: block;
    margin-left: 10px;
  }
  .nav-item {
    padding-top: 16px;
  }
  .nav-hamburger-menu {
    margin-right: 10px;
  }
  .main-container {
    margin-left: 130px;
  }
  .about {
    position: relative;
    top: 0;
  }
  .about-header {
    font-size: 122px;
    position: absolute;
    top: -117px;
    width: 335.1px;
    z-index: 1;
    -webkit-text-fill-color: transparent;
  }
  .about-img-container,
  .about-img {
    height: 493px;
    top: 0;
    width: 701px;
  }
  .about-img-bg {
    height: 493px;
    left: 70px;
    top: 65px;
    width: 701px;
  }
  .about-contents {
    display: flex;
    justify-content: space-between;
    margin-top: 192px;
  }
  .about-title {
    font-size: 26px;
    letter-spacing: 0.5px;
    margin-top: 132px;
    width: 280px;
  }
  .about-stuff {
    margin-right: 140px;
  }
  .about-text {
    font-size: 20px;
    letter-spacing: normal;
    line-height: 1.6;
    margin-top: 28px;
    width: 270px;
  }
  .our-vision {
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1221.5px;
    margin-top: 134.5px;
    position: relative;
    top: 0px;
    display: flex;
  }
  .our-vision-header {
    font-size: 120px;
    writing-mode: vertical-rl;
  }
  .our-vision-title {
    font-size: 35px;
    letter-spacing: normal;
    line-height: 1.49;
    margin-top: 116.5px;
    position: static;
    width: 460px;
  }
  .our-vision-text {
    font-size: 20px;
    margin-left: 200px;
    margin-top: 60px;
    line-height: 1.6;
    top: 0;
    width: 665px;
  }
  .our-values {
    margin-top: 156px;
    top: 0;
  }
  .our-values-img-container {
    margin-left: 10px;
  }
  .our-values-img {
    height: 571px;
    left: 90px;
    top: 83px;
    width: 1074px;
  }
  .our-values-img-bg {
    height: 553px;
    width: 996px;
  }
  .our-values-header {
    font-size: 117px;
    margin: 73.5px auto 0;
    position: relative;
    text-align: center;
    top: -80px;
    width: 592px;
    -webkit-text-fill-color: transparent;
  }
  .our-values-title {
    font-size: 35px;
    letter-spacing: normal;
    line-height: 1.49;
    margin: 59px auto 0;
    width: 701px;
  }
  .our-values-text-items {
    display: flex;
    justify-content: center;
    margin-bottom: 134px;
  }
  .our-values-text {
    font-size: 20px;
    letter-spacing: normal;
    line-height: 1.6;
    margin-right: 40px;
    margin-top: 92px;
    width: 560px;
  }
  .our-values-text:last-of-type {
    margin-top: 92px;
  }
}